@page
@model AbbyWeb.Pages.Admin.Order.ManageOrderModel
@using Abby.Utility

<h1 class="text-primary py-3">Manage Order's</h1>
<form method="post">
    <div class="container row bg-white p-2 mb-3 rounded">
        @foreach(var item in Model.OrderDetailVM){
        <div class="col-12 pb-3 pt-3 mt-4 border  rounded">
                <div class="row">
                    <div class="col-4">
                        Order Number : @item.OrderHeader.Id
                        <ul class="text-info">
                            @foreach(var details in item.OrderDetails){
                                <li>@details.Name x @details.Count</li>
                            }
                        </ul>
                    </div>
                    <div class="col-4 pb-2">
                        <div class="input-group pb-2">
                            <div class="input-group-append">
                                <span class="input-group-text bg-secondary border">Time</span>
                            </div>
                            <input type="text"  value="@item.OrderHeader.PickUpTime" class="form-control" readonly />
                        </div>
                        <textarea readonly  asp-for="@item.OrderHeader.Comments"  class="rounded border form-control" rows="3" ></textarea>
                    </div>
                    <div class="col-3 offset-1 d-flex align-content-center">
                        <div class="col-12">

                            @if (item.OrderHeader.Status == SD.StatusSubmitted)
                            {
                                <button type="submit" class="btn btn-primary form-control mb-3" 
                                asp-page-handler="OrderInProcess" asp-route-orderId="@item.OrderHeader.Id">
                                    <i class="bi bi-check-square"></i> &nbsp; Start Cooking
                                </button>
                            }
                            @if (item.OrderHeader.Status == SD.StatusInProcess)
                            {
                                <button type="submit" class="btn btn-success form-control mb-3" 
                                asp-page-handler="OrderReady" asp-route-orderId="@item.OrderHeader.Id">
                                        <i class="bi bi-emoji-laughing"></i> &nbsp; Order Ready
                                    </button>
                            }
                            <button type="submit" class="btn btn-warning form-control mb-3" 
                            asp-page-handler="OrderCancel" asp-route-orderId="@item.OrderHeader.Id">
                                <i class="bi bi-x-square-fill"></i> &nbsp; Cancel Order
                            </button>
                           
                        </div>
                    </div>
                </div>
        </div>
       }
    </div>

</form>


